@import "./theme.scss";

:global(*) {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

:global(body, html) {
  margin: 0;
  padding: 0;
}

:global(body) {
  background-color: $dark-dark;
  color: $dark-text;
  font-family: Roboto, Arial, sans-serif;
}

:global(a) {
  text-decoration: none;
  color: $dark-text;
}
