// variables
$dark-light: #888888;
$dark-middle-light: #303030;
$dark-middle: #212121;
$dark-dark: #181818;
$dark-text: #fff;

$schedule-change: 1400px;

// mixins
@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

@mixin transition($values) {
  -webkit-transition: $values;
  -moz-transition: $values;
  -ms-transition: $values;
  -o-transition: $values;
  transition: $values;
}

@mixin phone {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin not-phone {
  @media (min-width: 769px) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin desktop-wide {
  @media (min-width: 1800px) {
    @content;
  }
}

@mixin not-hover {
  @media (hover: none) {
    @content;
  }
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin previewText($lines, $font-size, $line-height) {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
  font-size: $font-size;
  line-height: $line-height;
  max-height: #{$line-height * $lines};
}

@mixin accelerate {
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

@function calc-height($v1, $v2) {
  @return $v1 * $v2;
}
